body {
    display: inline
}
form {
    display: inline-flex;
}
li {
    list-style-type: none;
}
table {
    width: 38%;
    text-align: center;
}
button {
    width: 40px;
    height: 30px;
    justify-content: center;
    float: none;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background-color: slateblue;
    color: yellow;
}
select {
    width: 100px;
    height: 300px;
    font-size: 30px;
    background-color: dodgerblue;
    color: gold;
}